:root {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

*,
::before,
::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

html,
body {
  height: 800px;
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  background: rgb(171, 211, 228);
  background: linear-gradient(270deg, rgb(171, 211, 228) 0%, rgb(67, 201, 163) 80%, rgb(67, 201, 163) 100%);
  background-repeat: no-repeat;
}

.promo__block {
  height: 800px;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  display: flex;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .wrapper {
    max-width: 728px;
  }
}
@media (min-width: 1000px) {
  .wrapper {
    max-width: 1170px;
  }
}

.promo {
  display: flex;
  width: 100%;
  position: relative;
  overflow: visible;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .promo {
    padding: 0 30px;
  }
}
@media (min-width: 1000px) {
  .promo {
    padding: 0 60px;
  }
}
.promo__left {
  flex: 1;
  padding-top: 100px;
  z-index: 2;
}
@media (max-width: 1000px) {
  .promo__left {
    padding-top: 120px;
  }
}
.promo__right {
  z-index: 1;
  bottom: 0;
  right: -110px;
  position: absolute;
  width: 400px;
  height: 450px;
  background-image: url("../img/cucumber.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
}
@media (min-width: 480px) {
  .promo__right {
    width: 470px;
    height: 500px;
  }
}
@media (min-width: 768px) {
  .promo__right {
    width: 500px;
    height: 540px;
  }
}
@media (min-width: 1000px) {
  .promo__right {
    width: 600px;
    height: 620px;
  }
}
.promo__hero-text {
  font-weight: 600;
  color: #FFFFFF;
  line-height: 1;
  letter-spacing: -1px;
}
.promo__hero-item--small {
  font-size: 24px;
}
@media (min-width: 480px) {
  .promo__hero-item--small {
    font-size: 32px;
  }
}
@media (min-width: 768px) {
  .promo__hero-item--small {
    font-size: 50px;
  }
}
@media (min-width: 1000px) {
  .promo__hero-item--small {
    font-size: 50px;
  }
}
.promo__hero-item--medium {
  font-size: 30px;
}
@media (min-width: 480px) {
  .promo__hero-item--medium {
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  .promo__hero-item--medium {
    font-size: 60px;
  }
}
@media (min-width: 1000px) {
  .promo__hero-item--medium {
    font-size: 60px;
  }
}
.promo__hero-item--large {
  font-size: 40px;
}
@media (min-width: 480px) {
  .promo__hero-item--large {
    font-size: 48px;
  }
}
@media (min-width: 768px) {
  .promo__hero-item--large {
    font-size: 84px;
  }
}
@media (min-width: 1000px) {
  .promo__hero-item--large {
    font-size: 70px;
  }
}
.promo__hero-item span {
  display: inline-block;
  background-color: #FFFFFF;
  color: #E84145;
  padding: 11px 19px;
  border-radius: 23.16px;
  line-height: 1;
}
.promo__hero-item--small span {
  padding: 11px;
}
.promo__hero-item + .promo__hero-item {
  margin-top: 20px;
}
.promo__button {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-top: 230px;
  padding: 24px 36px;
  background-color: #FFFFFF;
  color: #E84145;
  border-radius: 10px;
  letter-spacing: -1px;
  font-size: 26px;
  line-height: 1;
  font-weight: 600;
  border: none;
}
@media (min-width: 480px) {
  .promo__button {
    margin-top: 260px;
  }
}
@media (min-width: 768px) {
  .promo__button {
    margin-top: 80px;
    width: auto;
  }
}

.modal {
  width: 100%;
  font-family: "Manrope", "sans-serif";
  padding: 20px;
  border-radius: 20px;
  background: rgb(171, 211, 228);
  background: linear-gradient(0deg, rgb(171, 211, 228) 0%, rgb(67, 201, 163) 80%, rgb(67, 201, 163) 100%);
  background-repeat: no-repeat;
}
@media (min-width: 480px) {
  .modal {
    max-width: 440px;
  }
}
@media (min-width: 768px) {
  .modal {
    max-width: 748px;
  }
}
@media (min-width: 1000px) {
  .modal {
    max-width: 960px;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .modal {
    max-width: 1170px;
    padding: 0;
  }
}
.modal__left--large {
  display: none;
}
@media (min-width: 1000px) {
  .modal__left--large {
    display: block;
    position: relative;
    flex: 1;
    margin-top: 23px;
    padding-left: 60px;
    padding-bottom: 90px;
  }
}
.modal__right {
  z-index: 2;
  flex: 1;
}
@media (min-width: 1000px) {
  .modal__right {
    padding-right: 60px;
    padding-bottom: 90px;
  }
}
.modal__header {
  display: flex;
}
@media (min-width: 1000px) {
  .modal__header {
    padding: 20px 20px 0px 20px;
  }
}
@media (min-width: 1000px) {
  .modal__body {
    display: flex;
    gap: 10px;
  }
}
.modal__title {
  font-size: 20px;
  font-weight: 700;
  flex: 1;
  margin-right: 10px;
}
@media (min-width: 1000px) {
  .modal__title {
    display: none;
  }
}
@media (min-width: 1000px) {
  .modal__title--large {
    display: block;
    position: relative;
    z-index: 2;
  }
}
.modal__close {
  width: 24px;
  height: 24px;
}
@media (min-width: 1000px) {
  .modal__close {
    margin-left: auto;
  }
}
.modal__annotation {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
}
@media (min-width: 1000px) {
  .modal__annotation {
    display: none;
  }
}
@media (min-width: 1000px) {
  .modal__annotation--large {
    display: block;
    position: relative;
    z-index: 2;
  }
  .modal__annotation--large p {
    max-width: 280px;
  }
}
.modal__rules-link {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #3B85EE;
}
@media (min-width: 1000px) {
  .modal__rules-link {
    display: none;
  }
}
@media (min-width: 1000px) {
  .modal__rules-link--large {
    position: absolute;
    display: block;
    bottom: 90px;
    z-index: 2;
  }
}
.modal__form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1000px) {
  .modal__form {
    margin-top: 23px;
  }
}
.modal__input {
  background-color: #FFFFFF;
  padding: 14px 16px;
  border-radius: 10px;
  color: #787878;
  font-size: 14px;
  border: none;
  width: 100%;
}
.modal__input + .modal__input {
  margin-top: 10px;
}
.modal__select {
  margin-top: 10px;
  position: relative;
  width: 100%;
}
.modal__select svg {
  position: absolute;
  right: 16px;
  top: calc(50% - 4px);
  pointer-events: none;
}
.modal__select select {
  -webkit-appearance: none;
  padding: 14px 16px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #FFFFFF;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  transition: all 0.15s ease;
}
.modal__select select option[value=""][disabled] {
  display: none;
}
.modal__submit {
  margin-top: 10px;
  border: 1.5px solid #FFFFFF;
  border-radius: 10px;
  background: transparent;
  padding: 22px 70px;
  color: #FFFFFF;
}
.modal__agreement {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
}
.modal__hero {
  z-index: 1;
  bottom: 0;
  right: -50px;
  position: absolute;
  width: 250px;
  height: 370px;
  background-image: url("../img/cucumber.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
}

/*# sourceMappingURL=output.css.map */
